@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

body{
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.body_ind{
    background: #000000;
}

.body_first{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    display: flex;
    position: fixed;
    background: #000000;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1000;
}

header img{
    float: right;
    margin-left: 80px;
}

.left_text h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_text span{
    color: #FF0000;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 400px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.3s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #5D5C61;
}

#check:checked~ .sidebar{
    left: -190px;
}

#check:checked~ .sidebar ul li a span{
    display: none;
}

#check:checked~ .sidebar ul li a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check{
    display: none;
}

#check:checked~ section{
    margin-left: 60px;
}

.body_aut{
    background-color: #1a1a1d;
}

.sidebar{
    z-index: 1000;
    margin-top: 70px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #000000;
    transition:left 0.3s;
    transition-property: left;
}

.main{
    background: url(фон.jpeg) no-repeat;
    background-blend-mode: multiply;
    background-color: gray;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
    text-align: center;
    
}

section h2{
    padding-top: 20%;
    font-family: 'Suez One',serif;
    font-size: 64px;
    color: white;
    z-index: 1200;
    margin: auto;
}

section p{
    font-size: 32px;
    color: white;
    margin:auto;
    
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

/*css autor*/
.autcontent{
    background-color: #000000;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.autcontent img{
    margin-left: 50px;
    border: 25px solid #000000;
    border-top-width: 35px;       border-bottom-width: 100px;
    
}
.image-flex{
    display: flex;
    align-items: center;
}

.autcontent p{
    margin-left: 50px;
    color: white;
}


/*footer_firm end*/

p.social_icons a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

p.social_icons{
    color: white;
    font-size: 32px;
}

p.social_icons a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

p.social_icons a{
    text-decoration: none;
    font-size: 18px;
}


/* catalog.start*/

.section-catalog{

    position: absolute;
    top: 70px;
    margin-left: 250px;
    height: 100%;
}

.catalog{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.catalog__item{
    width: calc(90%/3);
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 10px;
    position: relative;
}

.catalog__item::before{
    content: '';
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%)
}

.product__img{
    display: block;
    margin: 0 auto 15px;
}

.product__title{
    margin: 0 0 10px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.product__description{
    margin: 0;
    color:#FF0000;
}

.product__price{
    margin-left: 8px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-left: 220px;
}

.product__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    width: 240px;
    max-width: 100%;
    border-radius: 28px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: .02em;
}

.product__btn{
    box-shadow: none;
    background: #FF0000;
    width: 180px;
    margin-top: 10px;
    padding: 14px 20px;
}

.product__btn:hover{
    background: #ff7c21;
}

.product img{
    width: 300px;
    height: auto;
}

.product{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product__content{
    flex-grow: 1;
}

/*--firm--*/

.firm_title{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 30%;
    background: #FFFFFF;
}

.firm_two_text{
    padding-top: 40px;
}

.firm_two_text h1{
    position: absolute;
    right: 0;
    width: 40%;
    padding-bottom: 10px;
    padding-right: 50px;
    color: #000000;
    font-family: serif;
    font-weight: 700;
    text-align: center;
}

.firm_description{
    padding-top: 45px;
    padding-right: 50px;
    position: absolute;
    right: 0;
    width: 40%;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .15px;
    text-align: center;
    color: #000000;
}

.image_path{
    position: absolute;
    top: 100px;
    left:250px;
    margin-left:60px;
    margin-top:20px;
}

.content_firm{
    position: absolute;
    padding-right: 40px;
    padding-top: 60px;
    top: 300px;
    right: 0;
    width: 40%;
}



.header__firm a{
    font-size: 35px;
    width: 80px;
    padding-left: 125px;
}

.header__firm{
    display: flex;
}

.header__firm h3{
    font-size: 25px;

}

.firm__req{
    padding-top: 20px;
    color: #000000;
    padding-left: 30px;
}

.page{
    height: 100vh;
    padding-left: 20px;
    color: #000000;
}








